<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <ng-container *ngIf="products">
            <div class="row">
                <!-- loop over the collection of products-->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    
                    <div class="product-box">
                        <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        <!-- <img src="assets\images\products\placeholder.png" height="50"> -->
                        <h1>{{ tempProduct.name}}</h1>
                        <div class="price">{{ tempProduct.unitPrice}} | currency:'USD'</div>
                        <a href="" class="primary-btn">Add to cart</a>
                    </div>
                
                </div>
            </div>
        </ng-container>
        </div>
    </div>
</div>